<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.task.mapper.TableNodeMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tableNodeMapResultMap" type="org.springblade.modules.task.entity.TableNodeMap">
        <id column="id" property="id"/>
        <result column="table_name" property="tableName"/>
        <result column="node_id" property="nodeId"/>
    </resultMap>


    <select id="selectTableNodeMapPage" resultMap="tableNodeMapResultMap">
        select * from table_node_map where is_deleted = 0
    </select>


    <select id="getByNodeId" resultMap="tableNodeMapResultMap">
        select * from table_node_map where node_id=#{nodeId}
    </select>

</mapper>
